.botao {
    border-radius: 20px;
    padding: 8px 30px;
    background-color: #849CCC;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 200px;
}