.label-destaque {
    font-weight: bold;
    font-size: 40px;
    color: #4D78CA; 
    line-height: 0.9;
  }

  .label-login{
    font-weight: bold; 
    line-height: 0.9;
  }

  .label1-grafico{
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 0.9;
  }

  .label2-grafico{
    margin-left: 20px;
    font-weight: bold;
    line-height: 0.9;
  }
  .label-pacientes{
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 0.9;
    font-size: 20px;
  }

  .input-pacientes{
    font-weight: bold;
    margin-left: 10px;
    font-size: 15px;
  }

  .paciente.title{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    font-size: 22px;
  }

  .paciente.title.pesquisa{
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
  }
  
  .label-perfil{
    font-weight: bold;
    margin: 12px;
    font-size: 15px;
  }